header{
    margin: 0; padding: 2em 5em 4em; color: #efefef;
    overflow:hidden;
    position: relative;
    margin-bottom: -100px;
}

header::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    transform: skewY(-4deg);
    background: #0A1612;
    transform-origin: bottom left;
    z-index: -1;
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: #F7CE3E;
}

.bio {
    padding-left: 15%;
    padding-right: 15%;
    color: #1A2930;
}

.headshot {
    width: 40%;
}
.centered-div {
    display:flex;
    justify-content:center;
    align-items:center;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}

body {
    font-family: 'Slabo 27px', serif;
    font-size: 1.25em;
    background-color: #C5C1C0;
}



body{margin:0; background: #efefef;}
div{padding: 4em 4em 0;}

