header{
    margin: 0; padding: 2em 5em 4em; color: #efefef;
    overflow:hidden;
    position: relative;
    margin-bottom: -50px;
    margin-left: -100px;
    margin-top: -100px;
    padding-top: 100px;
}

header::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    height: 90%;
    width: 100%;
    transform: skewY(-4deg);
    background: #0A1612;
    transform-origin: bottom left;
    z-index: -1;
}

header::after.shrink{
    height: 60%;
}

div.shrink {
    padding-top: 5%;
    font-size: 0.8em;
}

div {
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

span.hide {
    display: none;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}


.fixed {
    position: fixed;
    width:100%;
}
div.title {
    margin-top: -12%;
    font-family: 'Montserrat', sans-serif;
    color: #F7CE3E;
}


a.header-link {
    font-family: 'Montserrat', sans-serif;
    color: #F7CE3E;
    transform: skewY(-4deg);
    transform-origin: bottom left;
    margin-right: 10%;
}

.content {
    padding: 15%;
}

.header-bar {

}

.bio {
    color: #1A2930;
}

.headshot {
    width: 60%;
}
.centered-div {
    display:flex;
    justify-content:center;
    align-items:center;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}

body {
    font-family: 'Slabo 27px', serif;
    font-size: 1.25em;
    background-color: #C5C1C0;
}



body{margin:0; background: #efefef;}
div{padding: 4em 4em 0;}

