@media screen and (max-width: 600px) {
    .content {
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 60%;
    }
    header {
        padding-top: 40px;
    }

    .headshot {
        width: 100%;
        min-width: 250px;
    }
}
