@media screen and (max-width: 600px) {
    .content {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 40%;
    }
    header {
        padding-top: 50px;
    }
    .headshot {
        width: 100%;
        min-width: 250px;
    }
}
